body{
    padding-top: 60px;
    padding-bottom: 40px;
}
.data_list{
    border: 1px solid #e5e5e5;
    padding: 10px;
    background-color: #FDFDFD;
    margin-top: 15px;
}
.data_list .data_list_title{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    padding-top: 5px;
}
.data_list .data_list_title img{
    vertical-align: top;
}

.data_list .diary_datas{
    padding: 5px;
}

.data_list .diary_datas ul{
    list-style-type: none;
}

.data_list .diary_datas ul li{
    margin-top: 15px;
}

.data_list .diary_datas ul li span{
    font-size: 18px;
}

.data_list .dataTypes{
    padding: 5px;
}

.data_list .dataTypes ul{
    list-style-type: none;
}

.data_list .dataTypes ul li{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
}

.data_list .user_image{
    text-align: center;
}
.data_list .user_image img{
    padding-top: 10px;
    width: 200px;
    height: auto;
}

.data_list .userSign{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
.data_list .diary_title{
    text-align: center;
    margin-top: 30px;
}

.data_list .diary_info{
    text-align: center;
}
.data_list .diary_content{
    margin-top: 20px;
}
.data_list .diary_action{
    margin-top: 20px;
}
